{% extends "core/base.html" %}
{% load static %}

{% block contenido %}



<div class="texto-encabezado">
<P>DATOS DE NUESTROS CLIENTES</P>
</div>
<br>
</br>
<table class="table table-dark table-hover">
  <thead>
  
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">3</th>
      <td colspan="2" class="table-active">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
     <th scope="row">3</th>
      <td colspan="2" class="table-active">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2" class="table-active">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

{% endblock contenido %}